/node_modules
/public/hot
/public/storage
/public/css
/public/js
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/storage/ads.index-shm
/storage/ads.index-wal
/storage/ads.index
/storage/*.index
google_credential.json
